.title {
  font-weight: 600;
  font-size: 48px;
  line-height: 56px;
  span {
    color: var(--primary);
  }
}

.note {
  margin-top: 16px;
  margin-bottom: 24px;
}

.link {
  display: inline-block;
  margin-top: 20px;
}

.btn {
  margin-top: 24px;
  max-width: max-content;
}

.container-auth {
  display: grid;
  grid-template-columns: minmax(704px, 1fr) 1fr;
  height: 100vh;
}

.logo {
  max-width: 30%;

  .img {
    padding-top: 30%;
    width: 100%;
  }
}

.main {
  padding: 124px;
}

.form {
  margin-top: 96px;
}

.background {
  background-color: var(--primary);
}
