.main {
	display: flex;
	justify-content: space-between;
	align-items: center;
	user-select: none;
	padding-bottom: 24px;

	.list {
		list-style: none;
		display: flex;
		justify-content: center;
		align-items: center;

		.item {
			font-size: 13px;
			height: 30px;
			width: 30px;
			display: flex;
			justify-content: center;
			align-items: center;
			font-size: 13px;
			font-weight: 600;
			border-radius: 4px;
			border: 1px solid #efefef;
			background-color: var(--light);
			&:hover {
				cursor: pointer;
				opacity: 0.7;
			}
		}

		.item + .item {
			margin-left: 10px;
		}

		.item.active {
			background-color: var(--primary);
			pointer-events: none;
			color: var(--light);
			border: solid 1px var(--primary);
		}
	}

	.btn {
		font-size: 13px;
		display: flex;
		justify-content: center;
		align-items: center;
		height: 30px;
		width: 30px;
		font-size: 16px;
		font-weight: 600;
		color: var(--light);
		outline: none;
		border-radius: 4px;
		border: solid 1px var(--primary);
		background-color: var(--primary);
		&:hover {
			cursor: pointer;
			opacity: 0.7;
		}
	}
	.btn.left {
		margin-right: 10px;
	}
	.btn.right {
		margin-left: 10px;
	}
}

.page {
	display: flex;
	justify-content: center;
	align-items: center;
}

.text {
	font-size: 13px;
	color: #586887;

	b {
		color: #232e44;
	}
}

@media (max-width: 764px) {
	.main {
		font-size: 13px;
		.list {
			.item {
				height: 30px;
				width: 30px;
				font-size: 13px;
				border-radius: 4px;
			}
			.item + .item {
				margin-left: 6px;
			}
		}

		.btn {
			height: 30px;
			width: 30px;
			font-size: 13px;
			border-radius: 4px;
		}

		.btn.left {
			margin-right: 6px;
		}
		.btn.right {
			margin-left: 6px;
		}
	}
}
