
.container {
  height: var(--header-height);
  background-color: #fff; 
  border-bottom: 1px solid var(--grey-2);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 20px; 
}

//=====================================================================

.section1, .section2, .section3, .section4, .section5 {
  flex: 1;
  text-align: center;
}

.section1 {
  flex: 0.3; 
  max-width: 10%; 
  min-width: 50px;
}

.logo {
  width: 40px; 
  height: 40px; 
  min-width: 20px;
}

//=====================================================================
.section2 {
  flex: 1.2;
}

.title {
  font-size: 15px; 
  color: #000; 
  white-space: nowrap;
padding-right: 5px;
}
//=====================================================================
.section3 {
  flex: 3;
  display: flex; /* Sử dụng CSS Flexbox */
  align-items: center; /* Căn giữa theo chiều dọc */
  gap: 10px; /* Khoảng cách giữa các ô box */
  padding:  0px 10px 0px 10px;;
}

.locationBox {
  position: relative;
  cursor: pointer;
  border: 1cap solid #000; 
  border-radius: 4px; 
  min-width: 90px;
  align-items: center;
  text-align: center;
  height: fit-content;
  width: 100%;
  height: 100%;
  padding:  0px 20px 0px 20px;
  display: block;
  
}

.locationList{
  display: none;
}

.locationTitle {
  border: 1px solid #000;
  border-radius: 7px; 
}

//=====================================================================
.section4 {
  flex: 1.5; 
  display: flex;
  align-items: center;
  padding-left: 0px; 
  padding-right: 20px; 
}

.search {
  position: relative;
}

.searchIcon {
  background-image: url('/images/icon-search.png');
  width: 25px; 
  height: 25px; 
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(190, 172, 172, 0.05);
}

.input {
  width: 350px;
  padding: 3px 0px 3px 35px; 
  border: 1px solid #cbc0c0;
  border-radius: 4px; 
  background-color: rgba(212, 193, 193, 0.1); 
}

.input::placeholder {
  color: #999; 
}

.input:focus {
  outline: none; 
  background-color: rgba(239, 233, 233, 0.05); 
}

//=====================================================================
.section5 {
  flex: 0.2; 
  max-width: 10%; 
  min-width: 10px;
  display: flex;
  justify-content: center; 
  align-items: center; 
}
.settingsBox {
  position: relative;
}

.settingsIcon {
  height: 100%; 
  width: 50px; 
}

.settingsList {
  position: absolute;
  top: 100%;
  display: none;
  list-style-type: none;
  //background-color: #fff; 
  border: 1px solid #000; 
  border-radius: 4px; 
  padding: 5px;
  min-width: 150px; 
  z-index: 1;
  right: 0; 
  background-color:white;
  top: 100%; 
}

.settingsBox:hover .settingsList {
  display: block; 
}
.settingsListOpen {
  display: block;
}

.logout_button{
  background-color: rgb(88, 88, 240); 
  color: white;
  border: none; 
  padding: 5% 15%; 
  border-radius: 30px; 
  cursor: pointer;
}

.logout_button:hover {
  background-color: rgb(29, 29, 212); 
}


//=====================================================================
@media (max-width: 1104px) {
  .section2{
    display: none;
  }

  .section5{
    display: none;
  }
  .input {
    width: 200%;
    padding: 3px 0px 3px 35px; 
  }
  .locationBox {
    padding:  0px 0px 0px 0px;
  }
}